body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 16px;
        }

        a {
            color: white;
         } 
         
         h1 {
         color: hsl(246, 100%, 51%);
         }
         header img {
         border-radius: 50%;
         border: 5px solid blue;
         }
         .center {
         text-align: center;
         }
         
         footer img{
            width: 70px;
            height: 40px;
         }